body {
    margin: 0;
    font-family: monospace;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    color: var(--text-color);
    text-shadow: 0 0 5px var(--text-color);
    user-select: none;
}

:root {
    --main-bg-color: #000a02;
    --nav-bg-color: #192418;
    --section-bg-color: #192418;
    --border-color: #66ff00;
    --text-color: #33ff00;
    --header-bg-color: #021200;
    --scroll-color: #086600;
}

.container {
    width: 930px;
    margin: 0 auto;
}

header {
    background: var(--header-bg-color);
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    text-shadow: 0 0 15px var(--text-color), 0 0 25px var(--border-color);
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(0, 255, 42, 0.3);
}

nav {
    background: var(--nav-bg-color);
    border-bottom: 1px solid var(--border-color);
    text-align: right;
    padding: 13px;
    box-shadow: 0 0 10px rgba(21, 255, 0, 0.15);
}

nav a {
    text-decoration: none;
    margin: 0 6px;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 8px var(--text-color), 0 0 15px var(--border-color);
}

.selected {
    background-color: #000000;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--border-color), inset 0 0 10px rgba(43, 255, 0, 0.4);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
}

.section {
    background: var(--section-bg-color);
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 18px;
    padding: 20px 0px 70px 0px;
    color: var(--text-color);
    box-shadow: 0 0 12px rgba(0, 255, 13, 0.25), inset 0 0 10px rgba(0, 255, 13, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    filter: brightness(1);
}

.section p {
    text-align: left;
    margin-left: 10px;
}

.section:hover {
    filter: brightness(1.2);
}

.section.small {
    width: 452px;
    height: 200px;
}

.section.wide {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.section.wide p {
    font-size: 14px;
}

.section.wide h3 {
    top: 0;
    position: sticky;
}

footer {
    background: var(--nav-bg-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    color: var(--text-color);
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(21, 255, 0, 0.2);
    text-shadow: 0 0 8px var(--text-color);
}

/* Typing */
.typing {
    font-family: "Courier New", monospace;
    color: var(--text-color);
    overflow: hidden;
    border-right: .13em solid var(--text-color);
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--text-color);
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000a02;
}

::-webkit-scrollbar-track {
    background: #ffffff2f;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}


/* ASCII art */
.ascii-art {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.1;
    color: var(--text-color);
    text-shadow: 0 0 5px var(--text-color);
    white-space: pre;
    margin: 10px 0 15px 0;
    text-align: left;
    animation: flicker 0.15s infinite alternate;

}
