body {
    background: url(../images/tile.png);
    font-family: monospace;
}

h2 {
    text-align: center;
    color: rgb(229, 255, 0);
}

header,
nav,
section,
article,
footer {
    border: 1px dashed red;
}

header {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: peru;
}

nav {
    width: 10%;
    min-width: 200px;
    height: 1100px;
    float: left;
    margin: 0px 30px 0px 30px;
    background-color: rgba(222, 184, 135, 0.5);
}

#menu {
    list-style-type: none;
    padding-left: 0px;
}

#banner-content {
    text-align: center;
    margin-top: 50px;
}

#banner-content a {
    text-decoration: none;
    color: orangered;
}

#banner-content a:hover {
    text-decoration: underline;
    color: powderblue;
}

#logo {
    width: 210px;
    height: 170px;
    float: left;
    margin: 5px 0px 5px 10px;
}

section {
    width: 89%;
    height: 1100px;
    max-width: 800px;
    float: left;
    background-color: rgba(222, 184, 135, 0.5);
}

article {
    width: 96%;
    max-width: 700px;
    height: 950px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(222, 184, 135);
    text-align: justify;
    line-height: 1.5em;
    padding: 20px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

article p {
    color:fuchsia;
}

article img {
    float: left;
    margin-right: 20px;
}

footer {
    width: 100%;
    height: 100px;
    float: left;
    margin: 10px 0px 20px 0px;
    background-color: rgba(204, 33, 33, 0.5);
}

.container {
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#menu li {
    list-style-type: none;
}

#menu ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px;
    display: block;
    text-align: center;
    background-color: aqua;
}

#menu ul li a:hover {
    background-color: chartreuse;
    color: crimson;
}

#menu ul ul a {
    position: relative;
    bottom: 20px;
    left: 100%;
    display: none;
}

#menu ul li:hover > ul a {
    display: block;
}