.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.gallery-container {
    column-count: 3;
    column-gap: 20px;
    max-width: 1200px;
    margin: 30px auto;
    background: var(--section-bg-color);
    border: 2px solid var(--border-color);
    box-shadow: inset 0 0 30px rgba(0, 255, 13, 0.1);
    padding: 30px;
    border-radius: 5px;
}

.gallery-container:hover div {
    opacity: 0.5;
}

/* ---- Image Cards ---- */
.gallery-container div {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.4s ease;
    border-radius: 50px;
    transform: rotate(calc(-5deg * var(--rand)));
}

.gallery-container div:nth-child(1) {
    --rand: 0.8;
}

.gallery-container div:nth-child(2) {
    --rand: -0.7;
}

.gallery-container div:nth-child(3) {
    --rand: 0.9;
}

.gallery-container div:nth-child(4) {
    --rand: -0.5;
}

.gallery-container div:nth-child(5) {
    --rand: 0.6;
}

.gallery-container div:nth-child(6) {
    --rand: -0.8;
}

.gallery-container div:nth-child(7) {
    --rand: 0.7;
}

.gallery-container div:nth-child(8) {
    --rand: -0.6;
}

.gallery-container div:nth-child(9) {
    --rand: 0.85;
}

.gallery-container div:nth-child(10) {
    --rand: -0.9;
}

.gallery-container div:nth-child(11) {
    --rand: 0.65;
}

.gallery-container div:nth-child(12) {
    --rand: -0.75;
}


.gallery-container div:hover {
    transform: scale(1.05) rotate(1deg) translateY(0px);
    opacity: 1;
    box-shadow: 0px 0px 40px 15px rgb(0, 0, 0);
    z-index: 10;
}

/* ---- Images ---- */
.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease, border-radius 0.5s ease;
    border-radius: 15px;
}

.gallery-container div:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
    border-radius: 0px;
}