.table-container {
    max-width: 900px;
    margin: 30px auto;
    background: var(--section-bg-color);
    border: 2px solid var(--border-color);
    box-shadow: inset 0 0 30px rgba(0, 255, 13, 0.1);
    padding: 30px;
    border-radius: 5px;
}

.table-header {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--border-color);
}

.table-header h2 {
    color: var(--text-color);
    font-size: 26px;
    margin: 0 0 10px 0;
    text-shadow: 0 0 20px var(--text-color), 0 0 30px var(--border-color);
    animation: title-pulse 2s ease-in-out infinite alternate;
}

table th,
table td {
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background: var(--row-even-bg-color);
}

table tbody tr:hover {
    background: rgba(0, 255, 42, 0.473);
    box-shadow: 0 0 15px rgba(0, 255, 42, 0.3);
    transition: background 0.1s ease, box-shadow 0.1s ease;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3) !important;
    color: blanchedalmond;
    font-weight: 700;
}

table tbody tr td:hover {
    background: rgba(0, 3, 192, 0.644);
    box-shadow: 0 0 15px rgba(0, 17, 255, 0.3);
    transition: background 0.1s ease, box-shadow 0.1s ease;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr th {
    background: var(--header-bg-color);
    color: var(--header-text-color);
    font-size: 15px;
    text-align: center;
}

.L,
.M,
.H,
.C {
    font-weight: 700;
    font-size: larger;
}

.L {
    text-shadow: greenyellow 0 0 10px !important;
    color: greenyellow !important;
}

.M {
    text-shadow: yellow 0 0 10px !important;
    color: yellow !important;
}

.H {
    text-shadow: orange 0 0 10px !important;
    color: rgb(255, 123, 0) !important;
}

.C {
    text-shadow: red 0 0 10px !important;
    color: rgb(255, 0, 0) !important;
}
